.container {
	display: flex;
	flex: 1;
	gap: 24px;
	flex-direction: column;
}
.container a {
	display: flex;
	flex: 1;
	gap: 12px;
	flex-direction: column;
}

.tickDemo {
	display: flex;
	gap: 3px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
